@media screen and (max-width: 680px) {

	.header {
		position: fixed;
		bottom: 0;
		width: 100vw;
		height: 40px;
		background: #222;
		padding: 0;

		.logo-box,
		.logo {
			display: none;
		}

		nav {
			display: flex;
			padding: 0;

			a {
				flex: 1;
				font-weight: normal;
				display: inline-block;
			}
		}

		.login {
			position: fixed;
			color: #222;
			bottom: 45px;
		}
	}

	.article {
		.article-list {
			max-width: 90vw;
			position: static;
			right: auto;

			.article-item {
				max-width: 90vw;
			}
		}
	}
}