.header {
	height: 100%;

	.ant-layout-sider-zero-width-trigger {
		top: 10px;
	}

	aside {
		height: 100%;
	}

	.logo {
		margin-top: 50px;
	}

	.logo-img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}
}