body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0
}

html {
  font: 3vw '微软雅黑', 'Arial Narrow', HELVETICA;
  /* background: #f1f1f1; */
}

body {
  /* background-color: #f1f1f1; */
}

a,
i,
em,
span {
  display: inline-block;
  font-style: normal;
  text-decoration: none;
}

li {
  /* list-style: none */
}

img {
  border: 0;
  vertical-align: middle
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

p {
  word-wrap: break-word
}

.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}